/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
body{
    background-image: url(../images/fond/global.png);
    background-attachment: fixed;
    background-color: #000;
    font: normal 400 1.6rem "Oranienbaum", serif;
    color: #fff;
    position: relative;
}


h2{
    font: normal 400 3.2rem "Monoton",sans-serif;
    margin: 0;
    text-transform: uppercase;
}
h2 span{
    font: normal 400 1.7rem "Oranienbaum", serif;
    text-transform: none;
}
a[hreflang="ja"]::after {
    content: " [en japonais]";
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

.images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.images a{
    width: 200px;
    margin: 0 10px 0;
    text-align: center;
}
.images img{
    width: 100%;
    margin-bottom: 10px;
}

/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

header, section{
    min-height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    text-align: center;
    position: relative;
}
header a{
    position: absolute;
    bottom: 40px;
    transform: translateX(-50%);
}
h1{
    font: normal 400 10rem "Monoton",sans-serif;
}


/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: darkorange;
}

.boite{
    width: 800px;
    padding: 48px;
    background-color: #00000080;
    border-radius: 10px;
    margin: auto;
}



/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */
.sports{
    background-image: url(../images/fond/bicycles.png);
    background-attachment: fixed;
}




/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */
.web{
    background-image: url(../images/fond/science.png);
    background-attachment: fixed;
}
.web img{
    width: 50%;
}
.web .images{
    margin-bottom: 50px;
}
.web a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lien_float a{
    background-color: darkred;
    padding: 10px;
}
.lien_float a:hover{
    color: #fff;
    text-decoration: underline;
}





/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */
.photos{
    background-image: url(../images/fond/fond.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.photos img{
    width: 30%;
}
.photos a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photos .images{
    display: flex;
    flex-direction: column;
}


/*---------------------------------------
    Icône retour
---------------------------------------*/

.material-symbols-outlined{
    width: 40px;
    height: 40px;
    background-color: #ffffff80;
    border: 4px #fff solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined:hover{
    color: darkorange;
    border-color: darkorange;
}
.haut{
    position: fixed;
    bottom: 20px;
    right: 15vw;
}
