/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
body{
    background-image: url(../images/fond/global.png);
    background-color: #000;
    font: normal 400 1.6rem "Oranienbaum", serif;
    color: #fff;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: darkorange;
}
header, section{
    min-height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    text-align: center;
    position: relative;
}
header a{
    position: absolute;
    bottom: 40px;
    transform: translateX(-50%);
}
.boite{
    width: 800px;
    padding: 48px;
    background-color: #00000080;
    border-radius: 10px;
    margin: auto;
}




/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */




/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */







/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */



/*---------------------------------------
    Icône retour
---------------------------------------*/


